@model IEnumerable<QL_BanDoTreEm.Models.KHACHHANG>

@{
    ViewBag.Title = "getKHACHHANGADMIN";
    Layout = "~/Views/Shared/_LayoutADMIN.cshtml";
}

<h2>getKHACHHANGADMIN</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENKHACHHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHAIKHACHHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIENTHOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAIKHOAN.MATKHAU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENKHACHHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHAIKHACHHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIENTHOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAIKHOAN.MATKHAU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_KHACHHANG }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_KHACHHANG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_KHACHHANG })
        </td>
    </tr>
}

</table>
